/* Reset stylů pro všechny elementy */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

/* Styl pro pozadí hry */
.background {
	height: 100vh;
	width: 100vw;
	background: url('images/background-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Styl pro ptáčka */
.bird {
	height: 110px;
	width: 140px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;  /* Nastavení z-indexu pro překrytí jiných elementů */
}

/* Styl pro potrubí */
.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 60vh;
    width: 6vw;
    background: radial-gradient(lightgreen 50%, green);
    border: 5px solid black;
}

/* Styl pro zprávu */
.message {
	position: absolute;
	z-index: 10;
	color: rgb(250, 245, 245);
	top: 30%;
	left: 50%;
	font-size: 4em;
	transform: translate(-50%, -50%);  /* Vycentrování zprávy */
	text-align: center;
}

/* Styl pro dodatečné úpravy zprávy */
.messageStyle{
	background: white;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  /* Stínování */
	border-radius: 5%;
}

/* Styl pro skóre */
.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Styl pro hodnotu skóre */
.score_val {
	color: gold;
	font-weight: bold;
}

/* Media query pro úpravu stylů na menších obrazovkách */
@media only screen and (max-width: 1080px) {
    .message{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.score{
		font-size: 8vh;
	}
	.bird{
		width: 100px;
		height: 75px;
	}
	.pipe_sprite{
		width: 14vw;
	}
}
.lives {
    position: fixed;
	z-index: 10;
    top: 15px;  /* Umístí srdíčka pod skóre */
    right: 10px;
    display: flex;
    flex-direction: row-reverse;  /* Obrátí pořadí srdíček, aby se odebírala zprava */
}

.heart {
	font-size: 55px;
    margin-left: 5px;
}
/* Styl pro tabulku */
.score-board {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Zvětšený padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(214, 194, 194, 0.2);
    display: none;  /* Skrytí tabulky */
    text-align: center;
    z-index: 11;  /* Nad ostatními prvky */
}

.score-board h2 {
    margin-bottom: 20px;
    font-size: 3em; /* Zvětšená velikost písma */
}

.score-board p {
    font-size: 2em; /* Zvětšená velikost písma */
    margin: 20px 0; /* Zvětšený margin */
}
.chicken_sprite {
    position: fixed;
    z-index: 99;
    width: 60px;
    height: 60px;
}
.timer {
	position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 34px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
}
@keyframes heartBlink {
    0%, 24%, 49%, 74%, 100% { opacity: 1; }
    12%, 37%, 62%, 87% { opacity: 0; }
}

.heart-blink {
    animation: heartBlink 2s ease-in-out;
}
